.grid {
	width: 80%;
	margin: 50px auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas:
		"no-gutters column-gutters"
		"row-gutters full-gutters";
}
.content {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 2fr 2fr;
	padding: 10%;
	text-align: center;
}
.no-gutters {
	grid-area: no-gutters;
	grid-template-areas:
		"no-title	no-title"
		"box1 		box2"
		"box3 		box4";
}
.no-gutters h2 {
	grid-area: no-title;
}
.column-gutters {
	grid-area: column-gutters;
	grid-template-areas:
		"column-title column-title"
		"box5 box6"
		"box7 box8";
	grid-column-gap: 20px;
}
.column-gutters h2 {
	grid-area: column-title;
}
.row-gutters {
	grid-area: row-gutters;
	grid-template-areas:
		"row-title row-title"
		"box9 box10"
		"box11 box12";
	grid-row-gap: 20px;
}
.row-gutters h2 {
	grid-area: row-title;
}
.full-gutters {
	grid-area: full-gutters;
	grid-template-areas:
		"full-title full-title"
		"box13 box14"
		"box15 box16";
	grid-gap: 20px;
}
.full-gutters h2 {
	grid-area: full-title;
}
.box {
	padding: 10%;
}
.box1 {
	grid-area: box1;
	background: #ff4a3d;
}
.box2 {
	grid-area: box2;
	background: #ffe83a;
}
.box3 {
	grid-area: box3;
	background: #62d657;
}
.box4 {
	grid-area: box4;
	background: #5c91ed;
}
.box5 {
	grid-area: box5;
	background: #ff4a3d;
}
.box6 {
	grid-area: box6;
	background: #ffe83a;
}
.box7 {
	grid-area: box7;
	background: #62d657;
}
.box8 {
	grid-area: box8;
	background: #5c91ed;
}
.box9 {
	grid-area: box9;
	background: #ff4a3d;
}
.box10 {
	grid-area: box10;
	background: #ffe83a;
}
.box11 {
	grid-area: box11;
	background: #62d657;
}
.box12 {
	grid-area: box12;
	background: #5c91ed;
}
.box13 {
	grid-area: box13;
	background: #ff4a3d;
}
.box14 {
	grid-area: box14;
	background: #ffe83a;
}
.box15 {
	grid-area: box15;
	background: #62d657;
}
.box16 {
	grid-area: box16;
	background: #5c91ed;
}

@media only screen and (max-width: 800px) {
	.grid {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr;
		grid-template-areas:
			"no-gutters"
			"column-gutters"
			"row-gutters"
			"full-gutters";
	}
}