.nav-header {
	width: 100%;
	background: #ff4a3d;
	color: white;
	height: 100px;
}

.nav-header h1 {
	padding-left: 50px;
	padding-top: 10px;
	display: inline-block;
}

.nav-header ul {
	display: inline;
}

.nav-header ul a {
	color: white;
	text-decoration: none;
	list-style: none;
}

.nav-header ul a:hover {
	color: rgba(255, 255, 255, .8);
}

.nav-header ul li {
	display: inline;
	padding: 0 10px;
	font-size: 20px;
}

@media only screen and (max-width: 680px) {
	.nav-header {
		text-align: center;
		margin: 0;
		padding: 0;
	}
	.nav-header ul {
		padding: 0;
		margin: 0;
	}
	.nav-header h1 {
		display: block;
		margin: 0;
		padding-left: 0;
		padding-bottom: 20px;
	}
}