.grid {
	box-sizing: border-box;
	border: 5px solid black;
	width: 80%;
	margin: 50px auto;
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: 1fr;
	grid-template-areas:
		"top-content nested-content";
}

.item {
	box-sizing: border-box;
	width: 100%;
	padding: 10%;
	border: 5px solid black;
}

.top-content {
	grid-area: top-content;
/*	border-right: 1px dashed #aaa;*/
}

.nested-content {
	grid-area: nested-content;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	grid-column-gap: 5px;
	grid-template-areas:
		"column1 column2 column3";
}

.nested-content div {
	box-sizing: border-box;
	width: 100%;
	padding: 40%;
	border: 3px solid black;
}

.column1 {
	background: #ff4a3d;
	grid-area: column1;
}
.column2 {
	background: #62d657;
	grid-area: column2;
}
.column3 {
	background: #5c91ed;
	grid-area: column3;
}

@media only screen and (max-width: 1300px) {
	.grid {
		grid-template-columns: 1fr;
		grid-template-rows: .2fr 1fr;
		grid-template-areas:
			"top-content"
			"nested-content";
	}
/*
	.top-content {
		border-right: none;
		border-bottom: 1px dashed #aaa;
	}
*/
}

@media only screen and (max-width: 680px) {
	.nested-content {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		grid-row-gap: 5px;
		grid-template-areas:
			"column1"
			"column2"
			"column3";
	}
}